
@media only screen
  and (max-device-width: 768px)
  and (orientation: portrait) {
    .container{
        margin-left: 4%;
        margin-right: 4%;
        padding: 4%;
        left: 0;
        right: 0;
        max-width: 768px;
        min-width: 768px;
    }
    html,body{
        overflow-x: hidden;
    }
}
.container{
    display: flex;
    flex-flow: row wrap;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 3px;
    padding-right: 3px;
}
.filtercontainer{
    display: flex;
    margin: 20px;
    max-width: 800px;
    position: relative;
    right: -19px;
}
.parent {
    display: flex;
    max-width: 700px;
}
  
.child {
    margin: 30px;
    border: 1.5px solid rgb(132, 132, 132);
    padding: 60px;
    
}

.titlecontainer{
    margin:auto;
}

.filterbutton{
    margin: 10px;
}

.filterbutton:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(132, 132, 132);
  }

.name-date-favorite{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    color: rgb(132, 132, 132);
}

.fav{
    display:flex;
    justify-content: space-between;
}

.h3{
    font-size: 20px;
}

.item{
    margin:15px;
}

.filtertext{
    position: relative;
    top: 8px;
    color: rgb(132, 132, 132);
}