.yourfavtips{
    position: relative;
    left: 234px;
    margin-bottom: 40px;
}
.child{
    margin: 20px;
    min-width: 90%;
    margin-bottom: 45px;
    padding-bottom: 100px;
}

.favitem{
    margin:25px
}